@import url(https://fonts.googleapis.com/css?family=Nunito);

/*defult & mobile design*/
@media only screen and (min-width:0px) {
    body {
        margin: 0px;
        background-color: #F6F6F6;
        overflow-y: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        overflow-x: hidden;
        font-family: 'Nunito', sans-serif;
    }
    .topMenu{
        align-items: center;
        display: flex;
        position: relative;
        height: 14%;
        background: #353744;
        -webkit-touch-callout: none;
        min-height: 74px;
    }
    .topMenu img{
        height: 74px;
        margin-left: 12px;
        position: sticky;
    }
    .mainArea {
        width: 100%;
        margin: 0px;
        margin-right: 0px;
        float: right;
        height: 86%;
    }
    /*Design for stats */
    .stat{
        padding-left: 2%;
        display: inline;
    }
    .stat h2{
        font-size: 20px;
        font-family: 'Nunito';
        font-weight: normal;
        display: inline;
    }
    .stat dl{
        display:-webkit-box;
        position: inherit;
        float: right;
        padding-right: 10%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .stat dd {
        margin-left: 10px;
    }
    .stat dd img{
        height: 15px;
        vertical-align: middle;
    }
    .stat dd div{
        display: inline;
        vertical-align: middle;
        font-weight: bold;
        font-family: 'Nunito';
        font-size: 13px;
    }
    .is-hidden{
    display: none;
    }
    /*design for the message list*/
    .MessagesChat {
        list-style-type: none;
        height: 78.5%;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-top: 0px;
        position: relative;
        margin-right: 10px;
        margin-bottom: 0.85%;
        margin-left: 0px;
        padding-left: 10px;
    }
    .message{
        margin-top: 14px;
        display: flex;
    }
    .message img{
        width: 38px;
        height: 38px;
        border-radius: 50%;
        float: left;
    }
     /*message design*/
    .message-box {
        border: 1px solid;
        border-color:  #E2E2E2;
        display: inline-block;
        background: white;
        border-radius: 10px;
        margin-left: 1%;
        max-width: 600px;
        min-width: 420px;
        min-height: 52px;
        overflow-wrap: break-word;
        margin-top: 0px;
    }
    /*delete button design*/
    .message-box Button{
        float: right;
        margin-top: 7px;
        background: url(/images/delete.png) no-repeat center;
        height: 20px;
        display: none;
        border: 0px;
        margin-right: 5px;
    }
    /*full name design*/
    .message-box cite{
        font-size: 14px;
        margin-left: 2%;
        font-style: normal;
    }
    .message-box div{
        color: #767676;
        margin-left: 2%;
    }
    .message-box:hover{
        background: #EBEDEC;
    }
    .message:hover Button{
        display: block;
    }
    .message-box time{
        font-weight: normal;
        font-size: 10px;
        color: #999999;
        padding-left: 8px;
        font-family:'Nunito', sans-serif; 
    }
    /*design for textarea and send button section*/
    .messageInput{
        height: 15%;
        display: flex;
    }
    .messageInput textarea {
        border-color: #D7D7D7;
        background-color: white;
        bottom: 0px;
        width: 86%;
        margin: 0px;
        padding: 0px;
        resize: none;
        border-bottom: 0px;
        border-left: 0px;
        border-right: 0px;
        height: 100%;
    }
    .messageInput div button {
        background: url(/images/send_icon.png) no-repeat;
        margin: 0px;
        padding: 0px;
        width: 14%;
        height: 100%;
        float: right;
        background-color: white;
        border-bottom: 0px;
        border-left: 0px;
        border-right: 0px;
        border-color: #D7D7D7;
        border-width: 1px;
        position: relative;
        margin-top: auto;
        margin-bottom: auto;
        align-items: center;
    }
    .buttonWrapper Button {
        min-width: 55px;
        min-height: 55px;
        background: url(..//images/send_icon.png) no-repeat;
        border-style: none;
    }
    /*modal design*/
    .Modal {
        border: 1px solid black;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 80%;
        padding: 20px;
        height: 70%;
        width: 75%;
        margin: auto;
        background-color: white;
        box-shadow: 0 0 10px 0 black;
        display: none;
    }
    .Modal-overlay {
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: block;
    }
    .Modal:target {
        display: block;
    }
    .modal-ques {
        font-size: 1.4em;
        font-family: 'Nunito', sans-serif;
        margin-bottom: 20px; 
    }
    .modal-label{
        margin-top: 10px;
        margin-bottom: 10px;
        color: #616161;
        width:87%;
        display: block;
    }
    .modal-label label{
        display: block;
    }
    .modal-buttons{
        position: absolute;
        bottom: 30px;
        right: 20px;
    }
    .modal-label input{
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        border-color: #D9D9D9;
        font-family: 'Nunito';
        font-weight: bold;
    }
    .saveBtn{
        background:linear-gradient(#47a272, #7dd84e);
        color: white;
        margin-top: 10px;
        float: right;
        height: 24px;
        border-style: none;
    }
    .AnonyBtn{
        background:linear-gradient(#b4b4b4, #d1d1d1);
        margin-top: 10px;
        float: right;
        height: 24px;
        border-style: none;
        margin-right: 10px;
    }
    /*scrollbar design*/
    ::-webkit-scrollbar-track{	
        border-radius: 10px;
        background-color: white;
        border: 1px solid #DADBDA;
    }
    ::-webkit-scrollbar{
        width: 12px;
        background-color: #F5F5F5;
    }
    ::-webkit-scrollbar-thumb{
        border: 1px solid #DADBDA;
        border-radius: 10px;
        background-color: #EBEDEC;
    }
}
.formInput{
    width: 100%;
    float: right;
    position: sticky;
    bottom: 0px;
    margin: 0px;
    height: 15%;
    max-height: 300px;
}
.growable{
	position: absolute;
    border: 1px solid;
    max-height: 300px;
    overflow: hidden;
    width: 85%;
    float: right;
    height: auto;
    bottom: 0px;
    min-height: 100%;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    color: #d7d7d7;
}
.growable pre {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    white-space: pre-wrap;
    word-wrap: break-word;
    min-height: 100%;
    height: 10%;
    font-weight: 400;
    font-size: 1.2em;
}
.growable textarea {
    width: 100%;
    resize: none;
    border: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    overflow: visible;
    font-weight: 400;
    font-size: 1.2em;
    padding: 0px;
    bottom: 0px;
    color: #666;
    font-weight:normal;
    font-size: 1.2em;
}

.buttonWrapper{
	width: 15%;
    height: 100%;
    float: right;
    background: white;
    border: 1px solid;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    color: #d7d7d7;
    position: absolute;
    display: flex;
    right: 0;
    bottom: 0;
    min-width: 90px;
    align-items: center;
}
/*design for desktop*/
@media only screen and (min-width: 638px) {
    .leftMenu{
        background:#61D290;
        width:18%;
        height: 100%;
        z-index: -1;
        position: inherit;
        left:0px;
    }
    .mainArea {
        width: 82%;
        margin: 0px;
        margin-right: 0px;
        float: right;
        height: 86%;
        display: block;
    }
    .Modal {
        border: 1px solid black;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 20px;
        width: 35%;
        min-height: 221px;
        min-width: 447px;
        height: 32%;
        margin: auto;
        background-color: white;
        box-shadow: 0 0 10px 0 black;
        display: none;
    }
    .modal-label{
        margin-top: 10px;
        margin-bottom: 20px;
        color: #616161;
        display: table;
        width: 100%;

    }
    .modal-label label{
        width: 70px;
        display: table-cell;
    
    }
    .modal-buttons{
        margin-top: 12px;
    }
    .modal-label input{
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        border-color: #D9D9D9;
        margin-left: 5px;
        width: 80%;
        height: 13%;
    }   
}